.grid {
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.item {
  padding: 16px;

  font-weight: 600;
  font-size: 2.4rem;

  background-color: greenyellow;
}

.item-1 {
  grid-area: 1 / 1 / 1 / 5;
}

.item-2 {
  grid-area: 2 / 1 / 6 / 1;
}

.item-4 {
  grid-area: 2 / 3 / 4 / 3;
}

.item-5 {
  grid-area: 2 / 4 / 5 / 4;
}

.item-6 {
  grid-area: 3 / 2 / 6 / 2;
}